Repository MeganHarrison/alleato-ai-dashboard-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workers, tests, docs

.github/labeler.yml:

frontend:
  - 'app/**'
  - 'components/**'
workers:
  - 'workers/**'
tests:
  - 'tests/**'
docs:
  - '**/*.md'

Prepare for Vercel deployment
  app/test-disabled/page.tsx
  debug-meeting-data.js
  debug-meeting-detail.png
  debug-meetings-page.png
  mock.json
  package.json
  pnpm-lock.yaml
Labels: frontend

Remove problematic test page causing deployment errors
  app/test-disabled/page.tsx
Labels: frontend

chore: fix critical TypeScript errors and achieve successful build
  app/(admin)/rag-admin/page.tsx
  app/(admin)/sitemap/page.tsx
  app/(admin)/trigger-vectorization/page.tsx
  app/(asrs)/asrs-dashboard/page.tsx
  app/(asrs)/asrs3/page.tsx
  app/(project-manager)/insights/page.tsx
  app/(project-manager)/insights2/page.tsx
  app/api/chat/route.ts
Labels: frontend

chore: complete TypeScript error fixes and add lint cleanup
  app/(asrs)/asrs-form/page.tsx
  app/(asrs)/asrs3/page.tsx
  app/(asrs)/fm-global-tables/page.tsx
  app/(asrs)/how-to-use/page.tsx
  app/(pages)/mobile-test/page.tsx
  app/(pages)/team-chat/page.tsx
  fix-lint-errors.js
Labels: frontend

perf: optimize Vercel build performance and speed
  .github/workflows/README.md
  .github/workflows/auto-label-autonomous.yml
  .github/workflows/automerge-claude.yml
  .github/workflows/path-guard.yml
  .github/workflows/size-limit.yml
  .github/workflows/slash-autonomous.yml
  next.config.mjs
  package.json
  vercel.json
Labels: docs

chore: final cleanup - remove remaining unused files and directories
  .github/README.md
  .github/path-filters.yml
  app/(pages)/mobile-test/page.tsx
  app/dash/layout.tsx
  app/dash/page.tsx
  claude-autonomy-addon/.github/CODEOWNERS.additions
  claude-autonomy-addon/AUTONOMY_README.md
Labels: frontend, docs

chore: optimize build performance and simplify Next.js config
  next.config.mjs
Labels: none

feat: update chat interface design on /openai
  .github/CODEOWNERS
  .github/README.md
Labels: docs

docs: reorganize autonomous mode documentation per CLAUDE.md standards
  .github/README.md
  documentation/technical/claude-code-autonomous-mode.md
  scripts/.gitignore
Labels: docs

feat: drastically improve chat interface design on /openai
  app/(pages)/openai/page.tsx
Labels: frontend

Add Turbopack experimental config to bypass webpack issues
  next.config.mjs
  pnpm-lock.yaml
Labels: none

Fix webpack compatibility and useState issues
  app/(project-manager)/projects-dashboard/page.tsx
  app/(project-manager)/rag-chat/page.tsx
  next.config.mjs
  package.json
  pnpm-lock.yaml
Labels: frontend

Fix critical useState destructuring errors for deployment
  app/(asrs)/fm-global-tables/page.tsx
  app/(pages)/aisdk/page.tsx
  app/(pages)/home/page.tsx
  app/fm-global-pdf/asrs-table2/page.tsx
  app/weather.tsx
Labels: frontend

fix: improve error handling to prevent React error boundary trigger
  app/page.tsx
Labels: frontend

Fix insights6 useState issue blocking deployment
  app/(project-manager)/insights6/page.tsx
Labels: frontend

fix: improve FM Global tables display and tab functionality
  app/(asrs)/fm-global-tables/page.tsx
Labels: frontend

chore: clean up deprecated files and update configurations
  app/(asrs)/asrs3/page.tsx
  app/(tables)/supabase-tables/page.tsx
  app/api/archived-chat/route-archived.ts
  app/api/basic/route.ts
  app/fm-global-pdf/3/page.tsx
  next.config.mjs
Labels: frontend

Major codebase cleanup: Remove 19 unused routes (28% reduction)
  app/(asrs)/asrs-chat/page.tsx
  app/(asrs)/asrs-chat2/page.tsx
  app/(asrs)/asrs-requirements/page.tsx
  app/(asrs)/asrs-resources/page.tsx
  app/(asrs)/fm-global-pdf/3/page.tsx
  app/(asrs)/fm-global-pdf/asrs-table2/page.tsx
  app/(asrs)/fm-global-pdf/layout.tsx
  app/(asrs)/fm-global-pdf/page.tsx
  app/(asrs)/fm-global-pdf/table-1/page.tsx
  app/(asrs)/fm-global-pdf/table-2/table_2_hose_demand.json
  app/(asrs)/fm-global-pdf/toc/page.tsx
  app/(asrs)/how-to-use/page.tsx
  app/(pages)/aisdk/page.tsx
  app/(pages)/chat-interface/page.tsx
  app/(pages)/dashboard/page.tsx
  app/(pages)/file-upload/page.tsx
  app/(pages)/home/page.tsx
  app/(pages)/landing-page/page.tsx
  app/(pages)/openai/page.tsx
  app/(pages)/profile/page.tsx
  app/(pages)/team-chat/page.tsx
  app/(project-manager)/ai-insights-page/page.tsx
  app/(project-manager)/insights2/page.tsx
  app/(project-manager)/insights3/page.tsx
  app/(project-manager)/insights4/page.tsx
  app/(project-manager)/insights5/page.tsx
  app/(project-manager)/insights6/page.tsx
  app/(project-manager)/insights7/page.tsx
  app/(project-manager)/insights8/chat/page.tsx
  app/(tables)/tables-asrs/page.tsx
  app/(tables)/tables-overview/page.tsx
  app/actions/meeting-d1-actions.ts
  app/chat/memoized-markdown.tsx
  app/chat/weather.tsx
  app/settings/layout.tsx
  app/settings/page.tsx
  components/app-sidebar.tsx
  vectorization_dashboard.tsx
Labels: frontend

fix: resolve Vercel build failure for asrs3 route
  app/(admin)/vector-management/page.tsx
  app/(asrs)/asrs-chat/page.tsx
  app/(asrs)/asrs-form-2/page.tsx
  app/(asrs)/asrs-tables/page.tsx
  app/(asrs)/fm-global-tables/page.tsx
  app/(project-manager)/ai-chat/page.tsx
  app/(project-manager)/file-upload/chat/page.tsx
  app/(project-manager)/file-upload/documents/page.tsx
  app/(project-manager)/file-upload/layout.tsx
  app/(project-manager)/file-upload/page.tsx
  app/(project-manager)/file-upload/stats/page.tsx
  app/(project-manager)/pm-chat-working/page.tsx
  app/fm-global-pdf/asrs-table2/page.tsx
  app/fm-global-pdf/layout.tsx
  app/fm-global-pdf/page.tsx
  app/fm-global-pdf/table-1/page.tsx
  app/fm-global-pdf/table-2/table_2_hose_demand.json
  app/fm-global-pdf/toc/page.tsx
  components/app-sidebar-asrs.tsx
  components/app-sidebar.tsx
  components/error-boundary.tsx
  next.config.mjs
Labels: frontend

fix: resolve static generation failures in Vercel deployment
  app/(asrs)/asrs3/page.tsx
  app/(project-manager)/insights6/page.tsx
  app/layout.tsx
  next.config.mjs
Labels: frontend

fix: graceful handling of missing NOTION_TOKEN environment variable
  .env.example
  app/actions/notion-projects-actions.ts
Labels: frontend

feat: additional UI enhancements and ASRS improvements
  app/(asrs)/fm-global-dashboard/page.tsx
  app/(project-manager)/meetings/[id]/page.tsx
  app/(project-manager)/projects-dashboard/page.tsx
  asrs_system_status.md
  components/app-sidebar.tsx
  components/asrs/ASRSDesignForm.tsx
  components/asrs/fm-global-data-tables.tsx
Labels: frontend, docs

fix: resolve duplicate React key error in sidebar navigation
  components/app-sidebar.tsx
  documentation/technical/asrs_system_status.md
Labels: frontend, docs

fix: resolve undefined sortColumn and sortDirection variables in homepage
  app/page.tsx
Labels: frontend

feat: modernize homepage design and fix action items in meeting pages
  app/(project-manager)/meetings/[id]/page.tsx
  app/page.tsx
  components/modern-homepage.tsx
  documentation/technical/STABILITY_FIXES.md
Labels: frontend, docs

feat: implement ChatGPT-style interface for AI chat page
  app/(project-manager)/ai-chat/page.tsx
  tests/e2e/ai-chat-chatgpt-style.spec.ts
  tests/e2e/screenshot-ai-chat.spec.ts
Labels: frontend, tests

feat: remove Project Info step from ASRS form progress
  .eslintrc.json
  app/(project-manager)/meetings/page.tsx
  app/(project-manager)/projects/[id]/DocumentsTable.tsx
  app/(project-manager)/projects/[id]/InsightsSection.tsx
  app/actions/auth-actions.ts
  components/modern-homepage.tsx
  documentation/maintenance/CODE_QUALITY_REVIEW_2025_01_16.md
  documentation/maintenance/KNOWN_ISSUES_TRACKER.md
  documentation/maintenance/MAINTENANCE_CHECKLIST.md
  documentation/maintenance/MAINTENANCE_REPORT_2025_01_16.md
  documentation/maintenance/NEXT_STEPS_ACTION_PLAN.md
  documentation/maintenance/README.md
  lib/rag/text-processing.ts
  lib/sitemap-generator.ts
  lib/supabase-mcp-integration.ts
  lib/supabase/middleware.ts
  lib/tools/get-weather.ts
  lib/vector/vector-store.ts
  next.config.mjs
  tests/e2e/asrs-form-final-screenshot.spec.ts
  tests/e2e/asrs-form-progress-test.spec.ts
  tests/e2e/asrs-form-visual-validation.spec.ts
  tests/e2e/auth-protection-test.spec.ts
  tests/e2e/complete-login-flow-test.spec.ts
  tests/e2e/homepage-tab-functionality-test.spec.ts
  vitest.config.ts
Labels: frontend, tests, docs

fix: improve login form error handling and test updates
  components/login-form.tsx
  tests/e2e/complete-login-flow-test.spec.ts
Labels: frontend, tests

fix: resolve infinite redirect loop and login crashes
  components/login-form.tsx
  lib/supabase/middleware.ts
  middleware.ts
  tests/e2e/complete-login-summary.spec.ts
  tests/e2e/login-flow-test.spec.ts
  tests/e2e/login-functionality-test.spec.ts
Labels: frontend, tests

temp: disable authentication for video recording
  middleware.ts
Labels: none

fix: sort AI insights by most recent first
  components/modern-homepage.tsx
Labels: frontend

feat: improve insights design with meeting dates and cleaner layout
  app/(project-manager)/projects/[id]/InsightsSection.tsx
Labels: frontend

fix: resolve setOpen missing in InsightGeneratorButton - fixes insights page 500 error
  components/insights/insight-generator-button.tsx
Labels: frontend

feat: group homepage insights by project with newest first
  components/modern-homepage.tsx
Labels: frontend

feat: switch PM RAG chat from Railway to Render API
  FIX_INSIGHTS_RLS.sql
  app/(project-manager)/insights-by-project/page.tsx
  app/(project-manager)/projects/[id]/InsightsSection.tsx
  app/api/chat/route.ts
  app/api/pm-rag/route.ts
  apply-migration.js
  components/insights/insight-generator-button.tsx
  components/modern-homepage.tsx
  components/pm-rag/rag-chat-interface.tsx
  debug-frontend-query.js
  debug-meeting-insights.js
  fix-rls-policies.js
  lib/actions/project-documents-actions.ts
  supabase/migrations/20250912_fix_ai_insights_rls_anon_access.sql
  tests/e2e/homepage-insights-validation.spec.ts
  tests/e2e/insights-page-comprehensive-test.spec.ts
  tests/e2e/insights-page-final-test.spec.ts
  tests/e2e/insights-page-manual-verify.spec.ts
  tests/e2e/insights-page-quick-test.spec.ts
Labels: frontend, tests

feat: update /ai-chat endpoint to use Render API instead of Railway
  app/api/chat/route.ts
Labels: frontend
